*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.DS_Store

# Lambda .envs
lambdas/sample-lambda/.env

# CDK asset staging directory
.cdk.staging
cdk.out
.venv/
__pycache__/
*.pyc
cdk.out/
